.article a:hover {
    color: #ffffff;
}

.article {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 330px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border: solid 1px;
    border-color: black black black white;
    align-items: center;
}
