{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Elon Musk: Tesla, SpaceX, ... /Kogito</title>
</head>

<body>
    <container class="container">
        <aside class="aside">
            <div class="aside__logo">
                <a href="#"><i class="fab fa-google"></i></a>
            </div>
            <div class="aside__row">
                <a href="index.html">
                    <i class="fas fa-home"></i>
                    <span class="aside__row__text">Home</span>
                </a>
            </div>
            <div class="aside__row">
                <a href="search.html">
                    <i class="fas fa-search"></i>
                    <span class="aside__row__text">Search</span>
                </a>
            </div>
            <div class="aside__row">
                <a href="mylibrary__playlist.html">
                    <i class="fas fa-book"></i>
                    <span class="aside__row__text">My library</span>
                </a>
            </div>
            <div class="aside__row">
                <a href="bookmark.html">
                    <i class="far fa-bookmark"></i>
                    <span class="aside__row__text">Bookmark</span>
                </a>
            </div>

        </aside>

        <main class="book">
            <div class="book__header">
                <img class="book__header__photo" src="img/ashlee_vance_book.jpeg"/>
                <div class="book__header__book">책</div>
                <div class="book__header__title">
                    Elon Musk: Tesla, SpaceX, and the Quest for a Fantastic Future
                </div>
                <a href="#" class="book__header__author">
                    <img class="book__header__author__photo" src="img/ashlee_vance.jpeg"/>
                    <div>Ashlee Vance</div>
                </a>
            </div>

            <div class="book__option">
                <div class="book__option__startfirst"><a href="#">처음부터 읽기</a></div>
                <div class="book__option__startfirst"><a href="#">이어서 읽기</a></div>
                <div class="book__option__like"><a href="#"><i class="far fa-heart"></i></a></div>
                <div class="book__option__save"><a href="#"><i class="fas fa-download"></i></a></div>
                <div class="book__option__etc"><a href="#">...</a></div>
            </div>


            <div class="book__guide">
                <div class="book__guide__number">#</div>
                <div class="book__guide__photo"></div>
                <div class="book__guide__chapter">제목</div>
                <div class="book__guide__view">조회수</div>
                <div class="book__guide__readingtime"><i class="far fa-clock"></i></div>
            </div>
            <div class="book__chapter">
                <div class="book__chapter__number">1</div>
                <a href="ashlee_vance_book.html"><img class="book__photo" src="img/ashlee_vance_book.jpeg"/></a>
                <div class="book__chapter__intro">
                    <div class="book__chapter__title"><a href="ashlee_vance_book_ch1.html">Elon's world</a></div>
                    <div class="book__chapter__intro__author"><a href="#">Ashlee Vance</a></div>
                </div>
                <div class="book__chapter__view">132,411,902</div>
                <div class="book__chapter__readingtime">12 min read</div>
            </div>
            <div class="book__chapter">
                <div class="book__chapter__number">2</div>
                <a href="ashlee_vance_book.html"><img class="book__photo" src="img/ashlee_vance_book.jpeg"/></a>
                <div class="book__chapter__intro">
                    <div class="book__chapter__title"><a href="#">Africa</a></div>
                    <div class="book__chapter__intro__author"><a href="#">Ashlee Vance</a></div>
                </div>
                <div class="book__chapter__view">986,902</div>
                <div class="book__chapter__readingtime">12 min read</div>
            </div>
            <div class="book__chapter">
                <div class="book__chapter__number">3</div>
                <a href="ashlee_vance_book.html"><img class="book__photo" src="img/ashlee_vance_book.jpeg"/></a>
                <div class="book__chapter__intro">
                    <div class="book__chapter__title"><a href="#">Canada</a></div>
                    <div class="book__chapter__intro__author"><a href="#">Ashlee Vance</a></div>
                </div>
                <div class="book__chapter__view">122,658</div>
                <div class="book__chapter__readingtime">12 min read</div>
            </div>
            <div class="book__chapter">
                <div class="book__chapter__number">4</div>
                <a href="ashlee_vance_book.html"><img class="book__photo" src="img/ashlee_vance_book.jpeg"/></a>
                <div class="book__chapter__intro">
                    <div class="book__chapter__title"><a href="#">Elon's First Start-up</a></div>
                    <div class="book__chapter__intro__author"><a href="#">Ashlee Vance</a></div>
                </div>
                <div class="book__chapter__view">12,456,442</div>
                <div class="book__chapter__readingtime">12 min read</div>
            </div>
            <div class="book__chapter">
                <div class="book__chapter__number">5</div>
                <a href="ashlee_vance_book.html"><img class="book__photo" src="img/ashlee_vance_book.jpeg"/></a>
                <div class="book__chapter__intro">
                    <div class="book__chapter__title"><a href="#">Paypal mafia boss</a></div>
                    <div class="book__chapter__intro__author"><a href="#">Ashlee Vance</a></div>
                </div>
                <div class="book__chapter__view">912,102,234</div>
                <div class="book__chapter__readingtime">12 min read</div>
            </div>
            <div class="book__chapter">
                <div class="book__chapter__number">6</div>
                <a href="ashlee_vance_book.html"><img class="book__photo" src="img/ashlee_vance_book.jpeg"/></a>
                <div class="book__chapter__intro">
                    <div class="book__chapter__title"><a href="#">Mice in Space</a></div>
                    <div class="book__chapter__intro__author"><a href="#">Ashlee Vance</a></div>
                </div>
                <div class="book__chapter__view">13,538,756</div>
                <div class="book__chapter__readingtime">12 min read</div>
            </div>
            <div class="book__chapter">
                <div class="book__chapter__number">7</div>
                <a href="ashlee_vance_book.html"><img class="book__photo" src="img/ashlee_vance_book.jpeg"/></a>
                <div class="book__chapter__intro">
                    <div class="book__chapter__title"><a href="#">All Electric</a></div>
                    <div class="book__chapter__intro__author"><a href="#">Ashlee Vance</a></div>
                </div>
                <div class="book__chapter__view">934,246</div>
                <div class="book__chapter__readingtime">12 min read</div>
            </div>
            <div class="book__chapter">
                <div class="book__chapter__number">8</div>
                <a href="ashlee_vance_book.html"><img class="book__photo" src="img/ashlee_vance_book.jpeg"/></a>
                <div class="book__chapter__intro">
                    <div class="book__chapter__title"><a href="#">Pain, Suffering and Survival</a></div>
                    <div class="book__chapter__intro__author"><a href="#">Ashlee Vance</a></div>
                </div>
                <div class="book__chapter__view">123,987,123</div>
                <div class="book__chapter__readingtime">12 min read</div>
            </div>
            <div class="book__chapter">
                <div class="book__chapter__number">9</div>
                <a href="ashlee_vance_book.html"><img class="book__photo" src="img/ashlee_vance_book.jpeg"/></a>
                <div class="book__chapter__intro">
                    <div class="book__chapter__title"><a href="#">Liftoff</a></div>
                    <div class="book__chapter__intro__author"><a href="#">Ashlee Vance</a></div>
                </div>
                <div class="book__chapter__view">1,467,867</div>
                <div class="book__chapter__readingtime">12 min read</div>
            </div>
            <div class="book__chapter">
                <div class="book__chapter__number">10</div>
                <a href="ashlee_vance_book.html"><img class="book__photo" src="img/ashlee_vance_book.jpeg"/></a>
                <div class="book__chapter__intro">
                    <div class="book__chapter__title"><a href="#">The revenge of the Electric Car</a></div>
                    <div class="book__chapter__intro__author"><a href="#">Ashlee Vance</a></div>
                </div>
                <div class="book__chapter__view">917,241,962</div>
                <div class="book__chapter__readingtime">12 min read</div>
            </div>
            <div class="book__chapter">
                <div class="book__chapter__number">11</div>
                <a href="ashlee_vance_book.html"><img class="book__photo" src="img/ashlee_vance_book.jpeg"/></a>
                <div class="book__chapter__intro">
                    <div class="book__chapter__title"><a href="#">The unified field theory of Elon Musk</a></div>
                    <div class="book__chapter__intro__author"><a href="#">Ashlee Vance</a></div>
                </div>
                <div class="book__chapter__view">88,716,102</div>
                <div class="book__chapter__readingtime">12 min read</div>
            </div>
            <div class="book__chapter">
                <div class="book__chapter__number">x</div>
                <a href="ashlee_vance_book.html"><img class="book__photo" src="img/ashlee_vance_book.jpeg"/></a>
                <div class="book__chapter__intro">
                    <div class="book__chapter__title"><a href="#">Epilogue</a></div>
                    <div class="book__chapter__intro__author"><a href="#">Ashlee Vance</a></div>
                </div>
                <div class="book__chapter__view">153,098</div>
                <div class="book__chapter__readingtime">12 min read</div>
            </div>

            <div class="book__more">
                <div class="book__more__title">
                    Ashlee Vance의 글 더 보기
                    <a href="#" class="book__more__discography">비빌리오그래피 보기</a>
                </div>
                <a href="#" class="book__more__content">
                    <img class="book__more__content__photo" src="img/architecture.jpeg"/>
                    <div>My Favorite Quotes</div>
                    <div class="book__more__text">Ashlee Vance</div>
                </a>
                <a href="#" class="book__more__content">
                    <img class="book__more__content__photo" src="img/chart.jpeg"/>
                    <div>This is fxxxxxx hard</div>
                    <div class="book__more__text">Ashlee Vance</div>
                </a>
                <a href="#" class="book__more__content">
                    <img class="book__more__content__photo" src="img/discover.jpg"/>
                    <div>My Favorite Quotes</div>
                    <div class="book__more__text">Ashlee Vance</div>
                </a>
            </div>
        </main>


        <article class="article">
            <a href="#" class="article__profile">
                <img
                    class="article__profile__photo"
                    src="img/elon_musk.jpeg">
                <span class="article__profile__name">Elon Musk</span>
                <span class="article__profile__btn"><i class="fas fa-caret-down"></i></span>
            </a>
            <div class="article__people">
                <div class="article__people__title">Who to follow</div>
                <a href="#" class="article__people__follow">
                    <img class="article__people__follow__photo" src="img/steve_jobs.jpeg">
                    <span class="article__people__follow__name">Steve Jobs</span>
                    <span class="article__people__follow__btn">follow</span>
                </a>
                <a href="#" class="article__people__follow">
                    <img class="article__people__follow__photo" src="img/tim_cook.jpeg">
                    <span class="article__people__follow__name">Tim Cook</span>
                    <span class="article__people__follow__btn">follow</span>
                </a>
                <a href="#" class="article__people__follow">
                    <img class="article__people__follow__photo" src="img/jeff_bezos.jpeg">
                    <span class="article__people__follow__name">Jeff Bezos</span>
                    <span class="article__people__follow__btn">follow</span>
                </a>
            </div>
            <div class="article__topic">
                <div class="article__topic__title"> Topic you might like </div>
                <div class="article__topic__topic">
                    <a href="#" class="article__topic__element">value investing<span> </span><i class="fas fa-times"></i></a>
                    <a href="#" class="article__topic__element">economy<span> </span><i class="fas fa-times"></i></a>
                    <a href="#" class="article__topic__element">stocks<span> </span><i class="fas fa-times"></i></a>
                    <a href="#" class="article__topic__element">deep learning<span> </span><i class="fas fa-times"></i></a>
                    <a href="#" class="article__topic__element">finance<span> </span><i class="fas fa-times"></i></a>
                </div>
            </div>
        </article>
    </container>

    <footer class="footer">
        <div class="footer__content">Kogito.com</div>
        <div class="footer__content">©copyright kogito</div>
        <div class="footer__content">Learn More About Us</div>
    </footer>

    <script
        src="https://kit.fontawesome.com/0a0dddc92c.js"
        crossorigin="anonymous">
    </script>

</body>

</html>