{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Search</title>
</head>

<body>
    <container class="container">
        <aside class="aside">
            <div class="aside__logo">
                <a href="#"><i class="fab fa-google"></i></a>
            </div>
            <div class="aside__row">
                <a href="/"><i class="fas fa-home"></i><span class="aside__row__text">Home</span></a>
            </div>
            <div class="aside__row">
                <a href="{% url 'search' %}"><i class="fas fa-search"></i><span class="aside__row__text">Search</span></a>
            </div>
            <div class="aside__row">
                <a href="{% url 'mylibrary__playlist' %}"><i class="fas fa-book"></i><span class="aside__row__text">My library</span></a>
            </div>
            <div class="aside__row">
                <a href="{% url 'bookmark' %}"><i class="fas fa-bookmark"></i><span class="aside__row__text">Bookmark</span></a>
            </div>
        </aside>

        <main class="search">
            <form class="search__form">
                <i class="fas fa-search"></i>
                <input type="search" placeholder="책, 작가, 플레이리스트" class="search__form__input"/>
            </form>

            <div class="search__recent">
                <div class="search__recent__title">최근 검색 기록</div>
                <a href="#" class="search__recent__content">
                    <img class="search__content__photo" src="/static/img/spacex.jpeg"/>
                    <div>Space X</div>
                </a>
                <a href="" class="search__recent__content">
                    <img class="search__content__photo" src="/static/img/tax_discount.jpeg"/>
                    <div>Tax Discount</div>
                </a>
                <a href="" class="search__recent__content">
                    <img class="search__content__photo" src="/static/img/leaders.jpeg"/>
                    <div>Leaders</div>
                </a>
            </div>

            <div class="search__everything">
                <div class="search__everything__title">모두 찾아보기</div>
                <a href="#" class="search__everything__element">
                    <img class="search__content__photo" src="/static/img/discover.jpg"/>
                    <div>발견하다</div>
                </a>
                <a href="#" class="search__everything__element">
                    <img class="search__content__photo" src="/static/img/chart.jpeg"/>
                    <div>차트</div>
                </a>
                <a href="#" class="search__everything__element">
                    <img class="search__content__photo" src="/static/img/new_release.jpeg"/>
                    <div>최신 글</div>
                </a>
                <a href="#" class="search__everything__element">
                    <img class="search__content__photo" src="/static/img/philosophy.jpeg"/>
                    <div>철학</div>
                </a>
                <a href="#" class="search__everything__element">
                    <img class="search__content__photo" src="/static/img/religion.jpeg"/>
                    <div>종교</div>
                </a>
                <a href="#" class="search__everything__element">
                    <img class="search__content__photo" src="/static/img/economy.jpeg"/>
                    <div>경제</div>
                </a>
                <a href="#" class="search__everything__element">
                    <img class="search__content__photo" src="/static/img/politics.jpeg"/>
                    <div>정치/사회</div>
                </a>
                <a href="#" class="search__everything__element">
                    <img class="search__content__photo" src="/static/img/science.jpeg"/>
                    <div>과학</div>
                </a>
                <a href="#" class="search__everything__element">
                    <img class="search__content__photo" src="/static/img/architecture.jpeg"/>
                    <div>건축</div>
                </a>
                <a href="#" class="search__everything__element">
                    <img class="search__content__photo" src="/static/img/computer.jpeg"/>
                    <div>컴퓨터</div>
                </a>
                <a href="#" class="search__everything__element">
                    <img class="search__content__photo" src="/static/img/music.jpeg"/>
                    <div>음악</div>
                </a>
                <a href="#" class="search__everything__element">
                    <img class="search__content__photo" src="/static/img/sports.jpeg"/>
                    <div>스포츠</div>
                </a>
                <a href="#" class="search__everything__element">
                    <img class="search__content__photo" src="/static/img/design.jpeg"/>
                    <div>디자인</div>
                </a>
                <a href="#" class="search__everything__element">
                    <img class="search__content__photo" src="/static/img/photography.jpeg"/>
                    <div>사진</div>
                </a>
                <a href="#" class="search__everything__element">
                    <img class="search__content__photo" src="/static/img/language.jpeg"/>
                    <div>언어</div>
                </a>
                <a href="#" class="search__everything__element">
                    <img class="search__content__photo" src="/static/img/novel.jpeg"/>
                    <div>소설</div>
                </a>
                <a href="#" class="search__everything__element">
                    <img class="search__content__photo" src="/static/img/essay.jpeg"/>
                    <div>에세이</div>
                </a>
                <a href="#" class="search__everything__element">
                    <img class="search__content__photo" src="/static/img/poetry.jpeg"/>
                    <div>시</div>
                </a>
                <a href="#" class="search__everything__element">
                    <img class="search__content__photo" src="/static/img/history.jpeg"/>
                    <div>역사</div>
                </a>
                <a href="#" class="search__everything__element">
                    <img class="search__content__photo" src="/static/img/magazine.jpeg"/>
                    <div>매거진</div>
                </a>
                <a href="#" class="search__everything__element">
                    <img class="search__content__photo" src="/static/img/etc.jpeg"/>
                    <div>기타</div>
                </a>
            </div>
        </main>


        <article class="article">
            <a href="#" class="article__profile">
                <img
                    class="article__profile__photo"
                    src="/static/img/elon_musk.jpeg">
                <span class="article__profile__name">Elon Musk</span>
                <span class="article__profile__btn"><i class="fas fa-caret-down"></i></span>
            </a>
            <div class="article__people">
                <div class="article__people__title">Who to follow</div>
                <a href="#" class="article__people__follow">
                    <img class="article__people__follow__photo" src="/static/img/steve_jobs.jpeg">
                    <span class="article__people__follow__name">Steve Jobs</span>
                    <span class="article__people__follow__btn">follow</span>
                </a>
                <a href="#" class="article__people__follow">
                    <img class="article__people__follow__photo" src="/static/img/tim_cook.jpeg">
                    <span class="article__people__follow__name">Tim Cook</span>
                    <span class="article__people__follow__btn">follow</span>
                </a>
                <a href="#" class="article__people__follow">
                    <img class="article__people__follow__photo" src="/static/img/jeff_bezos.jpeg">
                    <span class="article__people__follow__name">Jeff Bezos</span>
                    <span class="article__people__follow__btn">follow</span>
                </a>
            </div>
            <div class="article__topic">
                <div class="article__topic__title"> Topic you might like </div>
                <div class="article__topic__topic">
                    <a href="#" class="article__topic__element">value investing<span> </span><i class="fas fa-times"></i></a>
                    <a href="#" class="article__topic__element">economy<span> </span><i class="fas fa-times"></i></a>
                    <a href="#" class="article__topic__element">stocks<span> </span><i class="fas fa-times"></i></a>
                    <a href="#" class="article__topic__element">deep learning<span> </span><i class="fas fa-times"></i></a>
                    <a href="#" class="article__topic__element">finance<span> </span><i class="fas fa-times"></i></a>
                </div>
            </div>
        </article>
    </container>

    <footer class="footer">
        <div class="footer__content">Kogito.com</div>
        <div class="footer__content">©copyright kogito</div>
        <div class="footer__content">Learn More About Us</div>
    </footer>

    <script
        src="https://kit.fontawesome.com/0a0dddc92c.js"
        crossorigin="anonymous">
    </script>

</body>

</html>